// app global css in SCSS form
* {
  font-family: 'Poppins', sans-serif;
}

body {
  // background-color: rgb(18, 17, 22);
  background-color: $fundo;
}

// Barra superior
.transparent-header {
  color: $primary;
  background: transparent;
}

// Barra inferior
#rodape {
  box-shadow: none;
  align-items: center;
  font-size: 12px;
  text-align: left;
  color: $fundo;
  background: $primary;
  padding: 10px;
}

// Btn - Fale Comigo
#fale-cmg {
  background-color: $primary;
  color: $fundo;
  transition: background-color 0.3s ease;
}

#fale-cmg:hover {
  background-color: $fundo;
  color: $primary;
  border-color: $primary solid 2px;
}
